<div class="row">
    <div class="col-lg-1 col-md-1"></div>
    <div class="col-lg-10 col-md-10">
        <h1 style="text-align:center">Modificar o eliminar usuarios</h1>
        <div class="table table-responsive">
            <table class="table">
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Usuario</th>
                    <th>Email</th>
                    <th>Teléfono</th>
                    <th>Modificar</th>
                    <th>Eliminar</th>
                </tr>
                {{#if usuario}}{{#each usuario}}
                <tr>
                    <th>{{this.nombre}}</th>
                    <th>{{this.ape}}</th>
                    <th>{{this.username}}</th>
                    <th>{{this.correo}}</th>
                    <th>{{this.telefono}}</th>
                    <th><button class="btn btn-primary">Modificar</button></th>
                    <th><button class="btn btn-danger">Eliminar</button></th>
                </tr>
                {{/each}}{{/if}}
            </table>
        </div>
    </div>
</div>