<div class="row">
    <div class="col-lg-1 col-md-1"></div>
    <div class="col-lg-10 col-md-10">
        <h1 style="text-align:center">Modificar o eliminar usuarios</h1>
        <div class="table table-responsive">
            <table class="table">
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Usuario</th>
                    <th>Email</th>
                    <th>Teléfono</th>
                    <th>Modificar</th>
                    <th>Eliminar</th>
                </tr>
                {{#if usuario}}{{#each usuario}}
                <tr>
                    <td>{{this.nombre}}</td>
                    <td>{{this.ape}}</td>
                    <td>{{this.username}}</td>
                    <td>{{this.correo}}</td>
                    <td>{{this.telefono}}</td>
                    <td>
                        <div>
                            <button onclick="editarUsuario(event,this)" class="btn btn-primary">Modificar</button>
                        </div>
                    </td>
                    <td>
                        <div>
                            <button onclick="deleteUser(event,this)" class="btn btn-danger">Eliminar</button>
                        </div>
                    </td>
                </tr>
                {{/each}}{{/if}}
            </table>
        </div>
    </div>
</div>
<script src="../publico/scripts/admin.js"></script>
